html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

h2 {
  text-align: center;
}
#divcontainer {
  max-width: 100%;
}
#first {
  width: 650px;
  float: left;
  padding-left: 200px;
  padding-top: 50px;
}
#second {
  width: 750px;
  float: right;
  padding-right: 200px;
  padding-top: 50px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.container {
  display: flex;
  height: 100vh;
}

.controls {
  width: 20%;
  padding: 1rem;
  background: #14161a;
  color: #fff;
}

.controls input {
  border: none;
}

.map-container {
  width: 100%;
  height: 62vh;
}

.highlight {
  font-size: 1.25rem;
  font-weight: bold;
}

.printButtonContainer {
  width: 100%;
  height: 40px;
  position: relative;
  /* border: 5px solid green; */
  margin: 0 auto;
  /* margin-left: 75%; */
}

.printButton {
  margin: 0;
  position: absolute;
  /* border: 5px solid red; */
  margin-left: 90%;
  margin-top: 1%;
  width: 50px;
}

/* @page{size:auto; margin: 5mm;} */

@media print {
  .printButton {
    display: none;
  }
  .map {
    page-break-after: always;
  }
  .pagebreak {
    page-break-before: always;
  } /* page-break-after works, as well */
  #printable {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  html,
  body {
    height: 100%;
    width: 100%;
  }
}

body {
  background-color: white;
}
