html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
h1 {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  text-align: center;
  color: white;
}
h2 {
  text-align: left;
}
#divcontainer {
  max-width: 100%;
}
#first {
  width: 650px;
  float: left;
  padding-left: 200px;
  padding-top: 50px;
}
#second {
  width: 750px;
  float: right;
  padding-right: 200px;
  padding-top: 50px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.container {
  display: flex;
  height: 100vh;
}

.controls {
  width: 20%;
  padding: 1rem;
  background: #14161a;
  color: #fff;
}

.controls input {
  border: none;
}

.map-container {
  width: 100%;
  height: 62vh;
}

.highlight {
  font-size: 1.25rem;
  font-weight: bold;
}

.printButtonContainer {
  width: 100%;
  height: 40px;
  position: relative;
  /* border: 5px solid green; */
  margin: 0 auto;
}

/* .backBody {
  position: relative;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2),
  rgba(0, 0, 0, 0.2)),url(wildfire.jpg);
  background-size: cover;
  background-repeat: repeat;
  width:100%; 
  height:100%;  
  background-position: center;
} */

.backBody {
  background-color: #2E2E2E;
  background-size: 100% 100%;
  background-repeat: repeat;
  margin: 0;
  padding: 0;
  z-index: -1;
  width: auto; 
  height: auto;
  /* background-size: auto; */
  margin-bottom:10px;
  background-position: center;
  }

.printButton {
  margin: 0;
  position: relative;
  /* border: 5px solid red; */
  margin-left: 10px;
  width: 50px;
}

.currentAQI {
    /* border: 5px solid red; */
  position: relative;
  height: fit-content;
  margin: auto;
  max-width: 75%;
  padding: 20px;
  /* z-index: 10; */ 
  background-position: bottom;  
}

.currentActiveWildfires {
  /* border: 5px solid red; */
  position: relative;
  margin: auto;
  max-width: 85%;
  padding: 20px;
  /* z-index: 10; */
  background: rgb(200, 200, 200); /* Fallback for older browsers without RGBA-support */
  background: rgba(200, 200, 200, 0.7);
}

.activeFiresTable {
  /* border: 5px solid red; */
  position: relative;
  margin: auto;
  max-width: 85%;
  padding: 20px;
  /* z-index: 10; */
  background: rgb(200, 200, 200); /* Fallback for older browsers without RGBA-support */
  background: rgba(200, 200, 200, 0.7);
}

.currentFireStatsTable {
  position: relative;
  height: fit-content;
  /* border: 2px solid #610000; */
  margin: auto;
  max-width: 85%;
  padding: 20px;
  background-image: url('./fire3.jpg');
  background-position: center;
}

.airQualityGraphs {
  position: relative;
  height: fit-content;
  margin: auto;
  max-width: 85%;
  padding: 20px;
  background-color: #EAB2A1;
}

.wildfireGraphs {
  position: relative;
  height: fit-content;
  margin: auto;
  max-width: 85%;
  padding: 20px;
  background-color: #E1C16E;
}

.source {
  color: white !important;
  font-size: large;
  text-align: center;
}

/* @page{size:auto; margin: 5mm;} */

@media print {
  .printButton {
    display: none;
  }
  .map {
    page-break-after: always;
  }
  .pagebreak {
    page-break-before: always;
  } /* page-break-after works, as well */
  #printable {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  html,
  body {
    height: 100%;
    width: 100%;
  }
}

/* body {
  background-color: white;
} */
