h1,
h2,
h3 {
  text-align: center;
}

.centerText {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.source {
  color: white;
  font-size: large;
  text-align: center;
  text-decoration: none;
}