* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box;  */
  /* height: 100% */
}

.container {
  position: relative;
  height: 900px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2),
  rgba(0, 0, 0, 0.2)),url(wildfire.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  z-index: -1;
  position:absolute;
  width:100%; 
  height:100%;
  /* background-size: auto; */
  height: 100%;
  
  background-position: center;
/* border: 2px solid #610000; */
}

.searchArea {
  text-align: center;
  margin: auto;
  width: 100%;
  padding: 10px;
  /* border: 3px solid green; */
  /* margin: 0; */
  position: relative;
  top: 40%;
  /* transform: translateY(-50%); */
  vertical-align: middle;
  height: 200px;
}

.combobox-input {
  width: 25%;
  padding: 0.5rem;
  height: 35px;
  /* border: 2px solid #610000; */
}
.titleBackground {
  font-family: Arial, Helvetica, sans-serif;
  color: #fffdfd;
  text-align: center;
  font-size: 50px;
}

.textBackground {
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
  text-align: center;
  font-size: 18px;
}


/* .comboBox {
    position: relative;
    height: 80px;
    border: 2px solid #610000;
  } */